* {
    font-family: 'Hubballi', cursive;
}

body {
    margin: 0px;
    height: 100vh;
}

.header {
    position: relative;
    border-color: gray;
    border-style: groove;
    border-width: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 104, 88);
    height: 10%;
}

.header div:first-child {
    position: relative;
    display: flex;
    gap: 1rem;
}

.header div:nth-child(2) {
    position: relative;
    display: flex;
    gap: 1rem;
}

.header span {
    position: relative;
    display: flex;
    font-size: 3rem;
    background-color: aquamarine;
    border-radius: 0.3rem;
    border-style: inset;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.options {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 79%;
}

.options button {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(104, 65, 57, 0.37);
    border-color: rgba(104, 65, 57, 1);
    border-style: dotted;
    border-radius: 0.5rem;
    color: whitesmoke;
    height: 50%;
    width: 25%;
    backdrop-filter: blur(2px);
}

.options button:first-child span:first-child {
    position: relative;
    font-size: 350%;
    font-weight: 700;
}

.options button:first-child span:nth-child(2) {
    position: relative;
    font-size: 100%;
    font-weight: 100;
}

.box {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    height: 60vh;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.box:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -50px;
    bottom: 0px;
    background: var(--img) center/cover;
    -webkit-mask: linear-gradient(transparent, #fff 7.5px calc(100%), transparent);
    mask: linear-gradient(transparent, #fff 7.5px calc(100%), transparent);
}